body {
    background-color: #EEDCDC !important;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.roboto-font {
    font-family: 'Roboto', sans-serif;
}

.navBar-color {
    background-color: #E4CCCC !important;
}

.card-container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.endscreen {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    padding-top: 12px;
}

.btn-color {
    background-color: #EEDCDC !important;
}

.btn-color:hover {
    background-color: #E4CCCC !important;
}

.reply-btn-color {
    background-color: #E4CCCC !important;
}

.reply-btn-color:hover {
    background-color: #d9baba !important;
}

.answer-card:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.answer-card:active {
    background-color: rgba(0, 0, 0, 0.075);
    cursor: pointer;
}

.bg-success, .bg-danger {
    color: white !important;
}

.bg-progress-bar {
    background-color: rgba(166, 165, 250) !important;
}

.column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.end-screen-img {
    background-image: url(img/endScreen.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.margin-top {
    margin-top: 5%;
}

.m-rl{
    margin-left: 10%;
    margin-right: 10%;
}

.width-50 {
    width: 50%;
}

.text-center {
    text-align: center;
}

.flex-c-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 750px) {

    .m-rl{
        margin-left: 0;
        margin-right: 0;
    }

    .margin-top {
        margin-top: 0;
    }

    .card-container {
        height: 90vh !important;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .width-50 {
        width: 100%;
    }

    .h-img {
        height: 40vh;
        object-fit: cover;
    }

    .endscreen {
        height: 95vh !important;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5%;
    }

    .font-size-question {
        font-size: medium;
    }

    h5 {
        margin: 0 !important;
    }
    
    .font-size-answer {
        font-size: small;
    }

    .space-between {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .h-question {
        height: 17vh;
        text-align: center;
    }

    .h-container-answer {
        height: 30vh;
    }
}