body {
    background-color: #EEDCDC !important;
    margin: 0;
}

.navBar-color {
    background-color: #E4CCCC !important;
}

.card-container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    padding-top: 12px;
}

.btn-color {
    background-color: #EEDCDC !important;
}

.btn-color:hover {
    background-color: #E4CCCC !important;
}

.reply-btn-color {
    background-color: #E4CCCC !important;
}

.reply-btn-color:hover {
    background-color: #d9baba !important;
}

.answer-card:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.answer-card:active {
    background-color: rgba(0, 0, 0, 0.075);
    cursor: pointer;
}

.bg-success, .bg-danger {
    color: white !important;
}

.bg-progress-bar {
    background-color: rgba(166, 165, 250) !important;
}

.column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.end-screen {
    background-image: url(img/endScreen.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

