body {
    height: 100vh;
    background-color: #EEDCDC !important;
}

.navBar-color {
    background-color: #E4CCCC !important;
}

.card-container {
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    padding-top: 12px;
}

.btn-color {
    background-color: #EEDCDC !important;
}

.btn-color:hover {
    background-color: #E4CCCC !important;
}